*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
body {
    background-color: #333333;
    color: #fffff5;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;

    background-color: #333333;
}


/* ================= SLIDER ================= */

.slider {
    width: 100%;

    height: 600px;

    position: relative;

    overflow: hidden;

    background-color: #333333;
}


/* Ocultamos los radio buttons */

.slider input {
    display: none;
}


/* Contenedor de imágenes */

.slides {
    width: 100%;

    height: 100%;

    position: relative;
}


/* Cada imagen */

.slide {
    width: 100%;

    height: auto;

    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;

    transition: opacity 0.5s ease;
}


/* Imagen */
.slide1  {
    width: 100%;

    height: 600px;

    object-fit: cover;

    display: block;
}

.slide img {
    width: 100%;

    height: 600px;

    object-fit: cover;

    display: block;
}


/* Título abajo */

.slide h2 {
    position: absolute;

    bottom: 25px;

    left: 40px;

    font-size: 28px;

    color: white;
}


/* Mostrar imagen seleccionada */

#slide1:checked ~ .slides .slide1 {
    opacity: 1;
}

#slide2:checked ~ .slides .slide2 {
    opacity: 1;
}

#slide3:checked ~ .slides .slide3 {
    opacity: 1;
}



/* ================= LOGO ================= */

.logo {
    position: absolute;

    top: 20px;

    left: 90px;

    z-index: 10;

    display: flex;

    flex-direction: row;

    gap: 10px;
}

.logo img {
    width: 100px;

    height: auto;
}

.logo h1 {
    font-size: 24px;

    color: #fffff5;
    
    text-shadow: 2px 2px 5px black;
}

/* ================= MENU ================= */

.menu-contenedor {
    position: absolute;

    top: 20px;

    left: 20px;

    z-index: 30;
}


/* Ocultar checkbox */

#abrir-menu {
    display: none;
}


/* Botón */

.boton-menu {
    display: block;

    background-color: #444444;

    color: white;

    border: none;

    border-radius: 10px;

    padding: 12px 18px;

    font-size: 25px;

    cursor: pointer;
}


/* Menú cerrado */

.menu {
    width: 180px;

    background-color: #444444;

    border-radius: 8px;

    display: none;

    flex-direction: column;

    overflow: hidden;
}


/* Menú abierto */

#abrir-menu:checked ~ .menu {
    display: flex;
}


/* Enlaces */

.menu a {
    text-decoration: none;

    color: white;

    padding: 15px;

    display: block;
}


/* Hover enlaces */

.menu a:hover {
    background-color: #666666;
}



/* ================= FLECHAS ================= */

.flecha {
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    z-index: 15;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;

    border: none;

    border-radius: 50%;

    width: 55px;

    height: 55px;

    font-size: 30px;

    cursor: pointer;

    display: none;

    align-items: center;

    justify-content: center;
}


/* Flecha izquierda */

.izquierda {
    left: 20px;
}


/* Flecha derecha */

.derecha {
    right: 20px;
}


/* Mostrar flechas según imagen */

#slide1:checked ~ .flechas .flecha1 {
    display: flex;
}

#slide2:checked ~ .flechas .flecha2 {
    display: flex;
}

#slide3:checked ~ .flechas .flecha3 {
    display: flex;
}


/* Hover flechas */

.flecha:hover {
    background-color: rgba(0, 0, 0, 0.8);
}